[submodule "BackEnd-Intellispace"]
	path = BackEnd-Intellispace
	url = https://github.com/C2-Devs/BackEnd-Intellispace.git
[submodule "RommDesign-main"]
	path = RommDesign-main
	url = https://github.com/Samarth-dev10/RommDesign.git
